.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    text-decoration: none;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 0px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #000;
    color: #000;
    background-color: transparent;
}

.header-logout:hover {
    cursor: pointer;
}