.bgcolor-primary-new {
    background-color: #38b000;
}

.textcolor-primary-new {
    color: #38b000;
}

.bgcolor-secondary-new {
    background-color: #82c0cc;
}

.bgcolor-tertiary-new {
    background-color: #ff0a0a;
}